<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form action="/team" method="post">
    Team Name:<input type="text" id="team_name">  </input> <br>
    Coach:<input type="text" id="coach">  </input>
    Point Guard:<input type="text" id="point_guard">  </input>
    Shooting Guard:<input type="text" id="shooting_guard">  </input>
    Small Forward:<input type="text" id="small_forward">  </input>
    Power Forward:<input type="text" id="power_forward">  </input>
    Center:<input type="text" id="center">  </input>
    Submit <button id="Submit">  </button>
  </form>
 </body>
</html>
